<div class="col-md-6 offset-md-3"><h4>Lista tipo de contribuyente</h4></div>
<button class="btn btn-info" routerLink="/home/crearTipoContribuyente">Crear tipo contribuyente</button>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tipo of listaTipoContribuyente" >
            <th>{{tipo.id}} </th>
            <th>{{tipo.nombre}} </th>
            <th>{{tipo.estado}} </th>
            <td>
                <button (click)="actualizarTipoContribuyente(tipo.id)" class="btn btn-success">Editar </button>
                <button (click)="eliminarTipoContribuyente(tipo.id)" class="btn btn-danger">Eliminar </button>
            </td>
        </tr>
    </tbody>
</table>
